* {
  text-align: center;
  background-color: #babec4;
  font-family: b;
}
.navigation {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  background-color: bisque;
}
.navigation a {
  text-decoration: none;
  background-color: bisque;
  color: black;
  font-size: larger;
}
.navigation a:hover {
  color: rgb(241, 105, 232);
}

.header {
  color: rgb(48, 94, 78);
}

.body {
  color: rgb(238, 92, 92);
  margin: 0 5%;
}

.btn {
  background-color: beige;
  border-radius: 10px;
  color: grey;
}

.btn:hover {
  color: black;
}
