* {
  text-align: center;
  background-color: #282c34;
  font-family: b;
  font-size: large;
}

.header {
  color: aquamarine;
}

.body {
  color: white;
  margin: 0 5%;
}

.btn {
  background-color: beige;
  border-radius: 10px;
  color: grey;
}

.btn:hover {
  color: black;
}

.count {
  color: white;
}